<form action="/restaurantItems" method="post">

  <input type="text" name="restaurantName" placeholder="請輸入餐廳名稱">
  <input type="text" name="restaurantUrl" placeholder="請輸入餐廳圖片網址">

  <div>
    <button type="submit">
      確定新增
    </button>
  </div>
</form>