body{
background-image:url('https://cdn.pixabay.com/photo/2020/06/30/15/03/sunset-5356682__340.jpg');
background-repeat:repeat-x;
letter-spacing: 2px;
background-color:#a79c8e
}

nav{
  margin-bottom: 200px;
}

#search-bar{
  margin-bottom: 10px;
}

#null{
  margin-top: 300px;
}

